body, #form input {
	font-family: helvetica, 'Open Sans', sans-serif;
	font-weight: 700;
}

body {
	background-color: #f9f9f9;
	background-image: url("images/world.png");
	background-position: -105px -50px;

}

* {
	outline: none;
}


#outerdiv {
	padding: 120px;
}

#innerdiv {
	margin: auto;
	width: 785px;
	height: 274px;
}

#form {
	position: absolute;
	z-index: 5;
	width: 550px;
	margin-top: 70px;
	line-height: 72px;
}

#form input {
	border: none; 
	background-color: rgba(0,0,0,0);
	margin-bottom: 50px; 
	width: 550px;
	height: 80px;
	line-height: normal !important;
}

#times, #form input {
	font-size: 72px;
	text-transform: uppercase;
}

#times {
	position: absolute;
	margin-left: 600px;
	margin-top: 70px;
}

#diff, #texts {
	font-size: 32px;
	text-transform: uppercase;
}

#start {
	position: absolute;
}

#diff {
	position: absolute;
	margin-top: 93px;
	width: 250px;
}

#end {
	position: absolute;
	padding-top: 135px;
}

#texts {
	position: absolute;
	margin-top: 35px;
	overflow: none;
	white-space: nowrap;
}

#texts #andin {
	margin-top: 85px;
}

#texts, #diff {
	color: #aaaaaa;
}

#texts span {
	/*color: red;*/
}

#message {
	position: absolute;
	padding-top: 290px;
}